# Python cache
**/__pycache__/**

# Autoconf debris
/autom4te.cache
/config.log
/config.status
/Makefile
/src/Makefile
/src/webserver/Makefile
/share/Makefile
/client/Makefile
/src/config.py
/src/webserver/static/fastdb.js
/src/webserver/static/fastdb_start.js
/src/webserver/static/objectinfo.js
/src/webserver/static/objectlist.js
/src/webserver/static/objectsearch.js
/src/webserver/static/resetpasswd_start.js
/src/webserver/static/rkauth.js
/src/webserver/templates/fastdb_webap.html

# Sphinx debris
docs/_build/**
!docs/_build/.placeholder
docs/_static/**
!docs/_static/.placeholder
docs/_templates/**
!docs/_templates/.placeholder



# Test install location
install/
tests/elasticc2_test_data
tests/load_snana_fits_reconstruct_indexes_constraints.sql

# Env file
/.env

# Emacs backup files
**~

# Sidrat Research Pitt-Google authentication
/tests/secrets/*.json
